/*
Name:  Jaiquon Smith
*/

@charset "utf-8";
* {margin: 0em; padding: 0em;}
header,nav,section,article,footer {display:block;}
html,body {height:100%;}
body {background-color:black; color:orange; text-align:center;}
#sub-body {text-align:center; width:100%; margin:auto; font-family: sans-serif;}

main{padding:20px 0 0;}
a:link, a:hover, a:active, a:visited {
    color: white;
}

footer {
    margin-top: 2em;
}