/*
Name:  Jaiquon Smith
*/

@charset "utf-8";
* {margin: 0; padding: 0;}
header,nav,section,article,footer {display:block;}
body {background-color:black; color:orange; text-align:center;}
#sub-body {width:100%; margin:auto; font-family: sans-serif;}

h1{margin-top:25vh;}
button {
    border:.1px solid white;
    background:none;
    color:white;
    font-size:1em;
    font-weight:bold;
    padding:1em;
    text-decoration: blink;
}
footer{margin-top:50vh;}
a:link,a:visited{color:white;}